  <div class="movie-listing">
    <div class="wrap row">
      <div class="small-12 medium-3 columns">
        <% unless movie.poster.file.nil? %>
        <%= link_to image_tag(movie.poster.url, class: :poster), movie_path(movie) %>
        <% else %>
        <%= link_to image_tag(movie.poster_image_url, class: :poster), movie_path(movie) %>
        <% end %>
      </div>
      <div class="small-12 medium-9 columns">
        <div class="text">
          <h2><%= link_to movie.title, movie_path(movie) %> 
          <% if current_user && current_user.is_admin? %>
            (<%= link_to "edit", edit_movie_path(movie) %>, 
            <%= link_to "delete", movie_path(movie), method: :delete, data: {confirm: "You sure?"} %>)
          <% end %> 
          <small><%= formatted_date(movie.release_date) %></small></h2>
          <h4> Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes </h4>
          <p> <%= movie.description %> </p>
          <ul id="genre-list"> 
          <% if movie.categories.empty? %>
            <button class="secondary button" id="no-genre-text">No genres defined (yet!)</li>
          <% else %>
            <% movie.categories.each do |category| %>
            <button class="secondary hollow button category_remove"><%= category.genre %></button>
            <% end %>
          <% end %>
          </ul>
        </div>
      </div>
      <hr>
    </div>
  </div>