<%= link_to "Add a movie!", new_movie_path %>
<br>
<br>
Sort by: <%= link_to "Title", "/movies/sort/title" %> | <%= link_to "Runtime", "/movies/sort/runtime_in_minutes" %> | <%= link_to "Release Date", "/movies/sort/release_date" %>
<hr>
<% @movies.each do |movie| %>
  <% unless movie.poster.file.nil? %>
    <%= link_to image_tag(movie.poster.url), movie_path(movie) %>
  <% else %>
    <%= link_to image_tag(movie.poster_image_url), movie_path(movie) %>
  <% end %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4> Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes </h4>
  <p> <%= movie.description %> </p>
  <hr>
<% end %>