<%= render partial: "movie", locals: {movie: @movie} %>

<section class="main-body">
  <div class="wrap row">
    <div class="reviews">
      <h3>
        Reviews of <%= content_tag(:em, @movie.title) %>
        <small><%= @movie.review_average %>/10 Average Rating</small>
      </h3>
      <% if current_user %>
        <div class="comments">
          <%= link_to "Write a review!", new_movie_review_path(@movie), class: :button %>
          <% @movie.reviews.each do |review| %>
          <div class="comment">
          <h4><%= link_to review.user.full_name, user_path(review.user) %> rated <%= review.rating_out_of_ten %>/10</h4>
          <p><%= review.text %></p>
          </div>
          <% end %>
        </div>
      <% else %>
        <p>Please <%= link_to "Log in", new_session_path %> to see reviews and add your own.</p>
      <% end %>
    </div>
  </div>
</section>