<footer>
  <div class="wrap row">
    <div class="small-12 columns">
      <% if current_user %>
        <% if is_admin? %>
          Signed in as ADMIN <%= current_user.full_name %> (<%= link_to "Manage users", admin_users_path %> | <%= link_to "Log out", session_path("current"), method: :delete %>)
        <% else %>
          Signed in as <%= current_user.full_name %> (<%= link_to "Log out", session_path("current"), method: :delete %>)
          <% if is_spoofing? %>
            <p> Viewing as: <%= current_user.full_name %> (<%= link_to "End Session", end_spoof_path("current"), method: :delete %>) </p>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "Log in", new_session_path%> | <%= link_to "Sign up", new_user_path %>
      <% end %>
    </div>
  </div>
</footer>