<%= render 'hero' %>

<hr>
<% @actors.each do |actor| %>
<div class="wrap row">
  <h3> <%= actor.name %> (<%= actor.gender %>) <small><%= actor.age %> years old </small></h3>
  <p> <%= actor.biography %> </p>
  <%= link_to "More details on this actor", actor_path(actor) %>
  <hr>
</div>
<% end %>