<%= form_for @actor do |f| %>
  <div>
    <% if @actor.errors.any? %>
      <div>
        <%= pluralize(@actor.errors.count, "error") %> prevented this actor from submitted:
        <ul>
          <% @actor.errors.full_messages.each do |message| %>
            <p> <%= message %> </p>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div>
    <%= f.label "Male" %>
    <%= f.radio_button(:gender, "M") %>
    <%= f.label "Female" %>
    <%= f.radio_button(:gender, "F") %>
  </div>

  <div>
    <%= f.label :biography %>
    <%= f.text_area :biography %>
  </div>

  <div>
    <%= f.submit "Submit!" %>
  </div>

<% end %>